html,
body * {
    padding: 0;
    margin: 2rem;
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: black;
}

h1 {
    font-size: 6rem;
    text-align: center;
    font-family: 'Nabla', cursive;



}

.parent-1 {
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    margin: 30px auto;
    flex-wrap: wrap;
    align-items: center;
    width: 90vw;


}

.child{
    box-shadow: 10px 5px 5px goldenrod;
    background-color: white;


}

.child-1 {

 
    
    background-color: white;
}

.child-2 {

    box-shadow: 10px 5px 5px red;
    background-color: white
}

.child-3 {
 
    
    box-shadow: 10px 5px 5px red;
    background-color: white;

}

.child-4 {
   
    box-shadow: 10px 5px 5px red;
    background-color: white;

}

.movie {
    width: 30rem;
    height: 50rem;
    align-items: center;
  
}

.child-5 {

    box-shadow: 10px 5px 5px red
    background-color: white



}

.child {
    min-width: 29%;
    justify-content: center;
    align-content: center;
}

.child-6 {
   
    box-shadow: 10px 5px 5px red;
    background-color: white;
}

