html,
body * {
    padding: 0;
    margin: 2rem;
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: black;
}

h1 {
    font-size: 6rem;
    text-align: center;
    font-family: 'Nabla', cursive;
    animation: fadeIn 5s;



}

.parent-1 {
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    margin: 30px auto;
    flex-wrap: wrap;
    align-items: center;
    width: 90vw;


}

.child{
    box-shadow: 10px 5px 5px goldenrod;
    background-color: white;
transition: all 0.3s;
}

.child:hover{
    transform: scale(1.1);
}
.child-1 {

 
    
    background-color: white;
}
.child-1:hover{
transform: rotateX(80deg)

}
.child-3:hover{
    transform: scale(1.3);
}
.child-5{

    
}
.child-2:hover{
transform: rotateX(45deg)
}
.child-2 {

 ;
    background-color: white
}

.child-3 {
 
    
 ;
    background-color: white;

}

.child-4 {
   
   ;
    background-color: white;

}

.movie {
    width: 30rem;
    height: 50rem;
    align-items: center;
  
}

.child-5 {

   
    background-color: white



}

.child {
    min-width: 29%;
    justify-content: center;
    align-content: center;
}

.child-6 {
   ;
    background-color: white;
}

@keyframes fadeIn{
0% {opacity: 0;}
100% {opacity: 1;}

}

