html,
body * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    background-color:lightblue;
}

h1{
font-size: 6rem;
text-align: center;
}
.parent {
    font-size: 30px;
    display: flex;
    justify-content: space-around;
}

.child {
    border: 1px solid red;
    font-size: 30px;
    width: 28%;

}

h2 {

    margin: 1rem 21;
}

.px-size {
    font-size: 20px;
}

.rem-size {
    font-size: 2rem;
}

.em-size {

    font-size: 1em;
}

.child-1 {
    border: 3px solid green;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.child-2 {
    border: 3px solid yellow;
display: flex;
align-items: center;
flex-direction: column;
}

.child-3 {
    border: 3px solid blue;

}
.hangoverimg{
width: 400px;

}
.projectximg{
width: 400px;

}
